<%if current_user.usertype_id == 1 or current_user.usertype_id == 2 %>
<p id="notice"><%= notice %></p>

<div class="container"> 
  <div class="row"> 
    <div class="col-md-6 col-md-offset-3">
      <legend> <h1>Listado de Reparaciones</h1> </legend>
    </div>
  </div>
</div>
</br>

 <div class="container"> 
  <div class="row"> 
    <div class="col-md-6 col-md-offset-3">
      <%= link_to 'Nueva Reparación', new_reparation_path, class: "btn btn-success" %>
      <%else%>
        <h1>No tiene permisos para estar aca.</h1>
        <h2>Favor Contactar con el administrador.</h2>
      <%end%>
    </div>
  </div>
</div>
</br>
</br>



    <% @reparations.each do |reparation| %>
    <div class="container"> 
      <div class="row"> 
        <div class="col-md-4">
          <div class= "thumbnail">
          
            <p> <strong> Nombre Tecnico: </strong>  <%= reparation.user.Nombre %> </p>
            <p> <strong> Nombre producto cliente: </strong> <%= reparation.cproduct.Nombre %> </p>
            <p> <strong> Descripcion: </strong> <%= reparation.Descripcion %> </p>
            <p> <strong> Fecha de Ingreso: </strong>  <%= reparation.FechaI %> </p>
            <p> <strong> Fecha de Salida: </strong> <%= reparation.FechaF %></p>
            <p> <strong> Precio Base: </strong> <%= reparation.PrecioBase %> </p>
            <p> <strong> Precio Final:  </strong> <%= reparation.PrecioFinal %></p>
            <p> <strong> llamada:  </strong>
              <%if reparation.Llamada == false%>
                La llamada aun no se ha realizado
                <%else%>
                La llamada ya se realizo.
              <%end%> 
            </p>


            <div class="buttons" style= "margin-top: 10px; margin-bottom: 10px">
              <%= link_to 'Mostrar', reparation, class: "btn btn-primary" %>
              <!--<%= link_to 'Editar', edit_reparation_path(reparation), class: "btn btn-primary" %>-->
            </div>

          </div>
        </div>
      </div>
    </div>
    
    <% end %>

<br>