<p id="notice"><%= notice %></p>

<div class="container"> 
  <div class="row"> 
      <div class="col-md-6 col-md-offset-3">
        <h1>Lista de Productos</h1>
      </div>
  </div>
</div>
</br>
</br>
</br>

    <% @products.where(Ptype: 1).each do |product| %>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="thumbnail">
            <%= image_tag product.Imagen, :alt => product.Imagen, class: 'img-responsive' %>
            <br>
            <p> <strong> Nombre: </strong><%= product.Nombre %> </p>
            <p> <strong> Descripción: </strong><%= product.Descripcion %> </p>
            <p> <strong> Precio: </strong><%= product.Precio %> </p>
            <p> <strong> Stock: </strong><%= product.Stock %> </p>
            <p> <strong> Categoria: </strong><%= product.Pcategory.Nombre %> </p>
            <p> <strong> Estado: </strong><%= product.Status.Nombre %> </p>
            <p> <strong> Marca: </strong><%= product.Trademark.Nombre %> </p>

            <div class="buttons" style= "margin-top: 10px; margin-bottom: 10px">
              <%= link_to 'Mostrar', product, class: 'btn btn-primary' %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <% end %>

