<% if user_signed_in? %> 

<p id="notice"><%= notice %></p>

<% if current_user.usertype_id == 1%>

  <div class="container"> 
    <div class="row"> 
        <div class="col-md-6 col-md-offset-3">
          <legend><h1>Productos en Venta</h1></legend>
          <br>
          <br>
          <%= link_to 'Ingresar Producto a venta actual', new_detail_path, class: 'btn btn-success' %> |
          <%= link_to 'Ir a ventas', sales_path, class: 'btn btn-primary'%>
        </div>
    </div>
  </div>
  <br>
  <br>
  <br>


  <div class="col-md-4">  
    <div class="thumbnail">
      <% @details.where(:sale_id => Sale.last).each do |detail| %>
        <p> <strong>Numero de Venta: </strong> <%= detail.sale.id %> </p>
        <p> <strong>Nombre Producto: </strong> <%= detail.product.Nombre %> </p>
        <p> <strong>Categoria Producto: </strong> <%= detail.product.Pcategory.Nombre %> </p>
        <p> <strong>Cantidad: </strong> <%= detail.Cantidad %></p>
        <br>
        <%= link_to 'Mostrar', detail, class: 'btn btn-primary' %>
        <!-- Vendedor no puede editar ni tampoco borrar venta -->
        <!-- <%= link_to 'Editar', edit_detail_path(detail) %> -->
        <!-- <%= link_to 'Borrar', detail, method: :delete, data: { confirm: 'Are you sure?' } %> -->
      <% end %>
    </div>
  </div>
  <br>

<% end %>

<% else %>
 <h1> No Tienes los permisos para ingresar.</h1>
 <b>Favor de contactar al administrador.</b>
<% end %>