<p id="notice"><%= notice %></p>

<p>
  <strong>Vendedor:</strong>
  <%= @sale.user.Nombre %>
  <%= @sale.user.Apellido %>
</p>
<p>
  <strong>Rut:</strong>
  <%= @sale.user.Rut %>
</p>

<ul>
	<% @sale.Details.each do |item| %>
	<li>Nombre del producto : <%= item.product.Nombre %> </li>
	<li>Precio Unitario : <%= item.product.Precio %> </li>
  <li>Cantidad : <%= item.Cantidad %> </li>
<% end %>
</ul>
<p>
  <strong>Total:</strong>
  <%= @sale.Total %>
</p>
<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
